<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-camera-preview2" version="0.0.1">
   <name>CameraPreview</name>
   <js-module name="CameraPreview" src="www/CameraPreview.js">
      <clobbers target="cordova.plugins.CameraPreview" />
   </js-module>
       <framework src="plugin.gradle" custom="true" type="gradleReference" />
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="CameraPreview">
            <param name="android-package" value="com.example.android.camera2basic.CameraPreview" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/CameraActivity.java" target-dir="src/com/example/android/camera2basic/CameraActivity" />
      <source-file src="src/android/CameraPreview.java" target-dir="src/com/example/android/camera2basic/CameraPreview" />
      <source-file src="src/android/R.java" target-dir="src/com/example/android/camera2basic/R" />

      <source-file src="src/android/layout/activity_camera.xml" target-dir="res/layout" />
      <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CameraPreview">
        <param name="android-package" value="com.example.android.camera2basic.CameraPreview" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
         <activity android:name="com.example.android.camera2basic.CameraActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat" />
         <activity android:name="com.example.android.camera2basic.CameraActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat" />
    </config-file>

       <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
         <uses-permission android:name="android.permission.CAMERA"></uses-permission>
         <uses-feature android:name="android.hardware.camera" />
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.RECORD_AUDIO" />
         <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
         <uses-feature android:name="android.hardware.location.gps" />
         <uses-feature android:name="android.hardware.camera.flash" />
    </config-file>

  </platform>

</plugin>